/* begin custom styles */
body {
  font-family: "Open Sans", "Segoe UI", sans-serif;
  font-size: 14px;
}
div#header {
  padding-bottom: 0;
}
div#headerContent {
  position: relative;
}
div#myhead {
  border: 0px solid #ccc;
  border-width: 1px 0 1px;
  padding: 3px 0;
  font-size: 13px;
}
div#myhead a {
  text-decoration: none;
  color: #555;
}
div#myhead a:hover {
  text-decoration: underline;
}
div#mytoolbar {
  position: absolute;
  top: -4px;
  right: -4px;
}
div#mytoolbar * {
  vertical-align: middle;
  padding: 0 2px;
}
div#mytoolbar .email-link img {
  height: 16px;
}
div#mytoolbar .twitter-link img {
  height: 26px;
}
ul#pagelist {
  list-style-type: none;
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
  margin: 3px 3px 0;
  padding: 0;
  font-size: 12px;
}
ul#pagelist li{
  margin-bottom: 2px;
}
div.post {
  position: relative;
}
p {
  margin: 1em 0;
  line-height: 1.5;
}
h1,h3,h4,h5,h6 {
}
h1 {
  font-size: 1.7em;
  letter-spacing: -1px;
}
h3 {
  font-size: 1.4em;
  font-weight: normal;
}
h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
} .text > h4 {
  border-top: 1px solid silver;
  padding-top: 2px;
}
h5 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
} h5 + p {
  margin-top: 0.5em;
}
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
  text-decoration: underline;
} h6 + p {
  margin-top: 0;
}
dl {
  margin-left: 1em;
  margin-bottom: 1em;
}
dt {
  margin-top: 0.5em;
  margin-bottom: 4px;
  font-weight: bold;
}
dt > span.underbar {
  padding-bottom: 1px;
  border-bottom: 1px dashed gray;
}
dd {
  margin-left: 1.5em;
}
blockquote {
  font-style: normal;
}
pre {
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  background: #fafafa;
}
em {
  font-style: italic !important;
}
code {
  font-family: Menlo, Consolas, monospace;
  font-size: 0.9em;
  background-color: #eee;
}
code a {
  color: inherit !important;
  cursor: default !important;
}
p.downlink {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
}
p.footnote {
  font-size: smaller;
  margin: 0.5em;
  text-indent: -0.5em;
}
p.blockimage {
  line-height: 2em;
}
p.blockimage a {
  border-bottom-style: none;
}
p.blockimage img {
  max-width: 578px;
}
dl.faq {
  margin-left: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}
dl.faq dd {
  margin-left: 1;
}
dl.faq dt {
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 6px;
  border-top: 1px solid #ddd;
  padding-top: 6px;
}
dl.smaller {
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}
dl.smaller > dt {
  margin-top: 0.3em;
  margin-bottom: 0;
  border-top: 1px solid #ddd;
  padding-top: 6px;
}
ol li,
ul.spaced li,
li.space-before {
  margin-top: 0.5em;
}
div.highlightbox {
  margin: 16px 0;
  padding: 2px 8px 10px;
  border: 1px solid #3D97F1;
  border-radius: 5px;
  background: #EDF6FF;
  font-size: 14px;
}
div.highlightbox > *:first-child {
  margin-top: 0.5em;
}
div.highlightbox p {
  font-size: 95%;
}
table.mytable {
  margin: 1.5em 0em;
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  font-size: 0.85em;
}
table.mytable.mono {
  font-family: Menlo, Consolas, monospace;
}
table.mytable td,
table.mytable th {
  border: 1px solid #c0c0c0;
  padding: 4px 8px;
}
table.mytable th {
  font-size: 1.1em;
  font-weight: bold;
}
table.mytable .centered {
  text-align: center;
}
span.caption {
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
span.superscript {
  font-size: 110%;
  position: relative;
  top: -2px;
} p.footnote > span.superscript {
  font-size: 120%;
  padding-right: 1px;
}
.nb {
  font-weight: normal;
}
.black {
  color: black !important;
}
.bold {
  font-weight: bold;
}
.uline {
  text-decoration: underline;
}
.code {
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
}
.screenshot {
  margin-bottom: 1em;
  text-align: center;
}
.screenshot > img {
  max-width: 578px;
}
.screenshot > img.bordered {
  border: 1px solid silver;
}
.smaller {
  font-size: smaller;
}
/* end custom styles */
