<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Canisbos Computing</string>
	<key>Builder Version</key>
	<string>12604.4.7.1.4</string>
	<key>CFBundleDisplayName</key>
	<string>TypeFind</string>
	<key>CFBundleIdentifier</key>
	<string>com.canisbos.typefind</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.6</string>
	<key>CFBundleVersion</key>
	<string>07</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Just type to find text on a page.</string>
	<key>DeveloperIdentifier</key>
	<string>ZANVZTSER6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/canisbos/misc-extensions/master/TypeFind/Update.plist</string>
	<key>Website</key>
	<string>http://canisbos.com/</string>
</dict>
</plist>
